body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #f0f0f0;
  padding: 2px;
}

main {
  display: flex;
  flex-direction: column;
  padding: 2px;
  align-items: center;
}

.hide-element {
  display: none;
}

.input-output-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 20px;
  padding-left: 50px;
  width: 100%;
}

.input-section, .output-section {
  width: 50%;
}

.input-section label {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.input-section input[type="range"] {
  margin-left: 10px;
  margin-right: 10px;
}

.input-section input[type="number"] {
  width: 20%;
}

.input-section span {
  margin-left: 10px;
  min-width: 60px;
  text-align: right;
}

.output-section p {
  display: block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 0.5em;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.collapsible {
  cursor: pointer;
  border: none;
  outline: none;
  width: 100%;
}

.content {
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 100%;
}

.visualization-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  min-width: 300px;
  width: 100%;
}
