body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #f0f0f0;
  padding: 2px;
}

main {
  display: grid; /* Change from flex to grid */
  grid-template-columns: 1fr 2fr; /* This will divide the main area into two columns, the left one will take 1 fraction of the space, and the right one will take 2 fractions */
  gap: 20px; /* This will add some space between the columns */
  padding: 2px;
  align-items: flex-start;
}

.input-output-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px; /* Add this line */
}

.input-section, .output-section {
  width: 100%;
}

.input-section label {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.input-section input[type="range"] {
  margin-left: 10px;
  margin-right: 10px;
}

.input-section input[type="number"] {
  width: 20%;
}

.input-section span {
  margin-left: 10px;
  min-width: 60px;
  text-align: right;
}

.output-section p {
  display: block;
}

.visualization-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
